<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Is Smitty Working?">
    <meta name="keywords" content="is, smitty, working, donkey">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Is Smitty Working?</title>

    <style>
        body {
            color: white;
            font-family: "Helvetica", "Arial", sans-serif;
        }

        body.is-working {
            background: #008000;
        }

        body.not-working {
            background: #FF0000;
        }

        .big {
            font-size: 25vw;
            font-weight: bold;
        }

        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body class="{% if is_working %}is-working{% else %}not-working{% endif %}">
<div class="big center">{% if is_working %}YES{% else %}NO{% endif %}</div>
</body>
</html>